config.txt
accounts.txt

.idea/
lib/
target/
.git/
.cache/
.vscode/
.settings/
.classpath
.project
.settings.xml
.cproject
.project.xml
.project.lock.json
.settings.gradle
.externalNativeBuild
.externalNativeBuild.cmake
.externalNativeBuild.config.json
.iml
envs/